/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .content-wrapper {
     width: 90%;
     margin: 50px 0;
   }
/*--------Base Header /Footer Style /Mobile */

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%

}
header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;

}

header {
  padding: 10px 0;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;
}

header img {
  margin-bottom: 15px;
}

.header-divider {
 width: 100%;
 height: 1px;
 margin: 10px 0 20px 0;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 45%
}

header nav ul li {
  list-style: none;
}

footer {
  flex-direction: column;
}
footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}
footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------Hero Image ------------*/
/* .hero-area .content-wrapper {
  width: 87%;
} */

.hero-area {
display: flex;
justify-content: center;
flex-flow: row wrap;
}



/*--------Newsletter ------------*/
/* aside .content-wrapper {
  width: 87%;
} */



aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

}





/*--------Features ------------*/

.features {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

}

.features article {
  width: 63%;
  margin: 30px 0;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


/*--------reviews ------------*/
/* .reviews .content-wrapper {
  width: 87%;
} */
.reviews {
display: flex;
justify-content: center;
flex-flow: row wrap;
}

.reviews h2 {
  margin-bottom: 40px;
}


/*--------About Page - Mission Section------------*/


/* .mission .content-wrapper {
  width: 87%;
} */


.mission {
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;

}


/*--------About Page - Map Section------------*/
.map {

}

figure {

}

/*--------About Page - contact Section------------*/
/* .contact-section .content-wrapper {
  width: 87%;
} */


.contact-section {
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
}



/*--------FAQ Page - Questions------------*/

/* .faq .content-wrapper {
  width: 87%;
} */

.faq {
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
/* Tablet Styles Here - Homepage*/
.content-wrapper {
  max-width: 640px;
}
/* Header*/

header .content-wrapper {
display: flex;
justify-content: space-between;
align-items: center;
flex-flow: row nowrap;
width: 100%;
}
header {
display: flex;
justify-content: space-around;
width: 82%
}
header nav {
  width: 20%;
}
header img {
  margin: 30px 60px;
}
header nav ul {
justify-content: space-between;

}

header nav ul li {
  padding: 0 30px;

}

.header-divider {
  display: none;
}

/* Aside-Form*/

aside .content-wrapper {
display: flex;
justify-content: center;
flex-flow: row nowrap;
}

.form-description {
  margin-right: 80px;
}

/* Features */

.features article {
display: flex;
justify-content: center;
align-items: center;
flex-flow: column wrap;
flex-basis: 50%;
}

.features .feature-item-description {
  width: 62%;
}
/* Reviews */

.reviews article {
  display: flex;
  justify-content: space-between;
}
.reviews article div {
  width: 49%;
}
/* Footer */

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
}
/*==============About Section========================*/

/* Mission */

.mission-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mission-content p {
  width: 38%;

}

/* Contact Section */

.contact-section .content-wrapper h2 {
  width: 65%;

  }

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

}





/*============== FAQ Section========================*/
.faq .content-wrapper {
  justify-content: space-between;
}

.faq-content {
  flex-basis: 45%;
}

.faq h2 {
  width: 100%;
}

}



@media only screen and (min-width: 1200px) {
  /* Desktop Styles Here */
  .content-wrapper {
    max-width: 965px;
  }

  /* Hero */

  .hero-area h1 {
    width: 70%;
  }

  /* Newsletter/ Aside*/

  aside .content-wrapper {
    justify-content: space-around;
  }

  aside .content-wrapper .form-description, aside .content-wrapper .form {
    width: 35%;
  }

  /* Features */

  .features h2 {
    width: 90%;
  }

  .features article {
  flex-basis: 33%;
  }

  /* reviews */
  .reviews article div {
    width: 45%;
  }

  /* About page */

.mission h2, .contact-section .content-wrapper h2{
  width: 90%;
}

.contact-section .content-wrapper h2 {
  margin-bottom: 30px;
}

  /* FAQ page */

.faq h2 {
  width: 100%;
}

.faq-content {
  flex-basis: 45%;
}

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
